html, body{
	background: rgb(30,30,30);
	margin: 0;
	width: 100%;
	height: 100%;
}

.name{
	background: darkgreen;
	color: white;
	margin-left: 40px;
	width: 90%;
	height: 10%;
	font-size: 100%;
	text-align: left;
	text-align: center;
	
}
.links{
	background: lightgreen;
	margin-left: 40px;
	width: 90%;
	height: 50px;
	text-align: center;
	font-size: 200%;
}
.main{
	margin-left: 40px;
	margin-top: 30px;
	width: 90%;
	background: white;
	color: black;
	font-size: 150%;
	text-indent: 20px;
	white-space: nowrap;
}

	
	
	